.col-centered{
    float: none;
    margin: 0 auto;
}

.first-row{
    margin-top: 75px;
}

.clock{
    text-align: center;
    font-weight: bold;
    font-size: 32px;
}

.clock-text{
    text-align: center;
    font-size: 20px;
}

.main-button{
    width: 80px;
}

.panel-heading{
    text-align: center;
}

.select-timer-dropdown{
    text-align: center;
    width: 100%;
}

.fill-columns{
    width: 100%;
    margin-bottom: 15px;
}

.pomodoro-panel{
    height: 133px;
}